absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
anyio==4.4.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
cachetools==5.3.3
cattrs==23.2.3
certifi==2024.7.4
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
eigen==0.1.1
einops==0.8.0
exceptiongroup==1.2.1
executing==2.0.1
farama-notifications==0.0.4
fastjsonschema==2.20.0
filelock==3.15.4
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
gitdb==4.0.11
gitpython==3.1.43
glfw==2.7.0
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
gymnasium==0.29.1
gymnasium-robotics==1.2.4
h5py==3.11.0
identify==2.6.0
idna==3.7
imageio==2.34.2
importlib-metadata==8.0.0
importlib_metadata==8.0.0
install==1.3.5
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isoduration==20.11.0
jedi==0.19.1
jinja2==3.1.4
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-server==2.14.1
jupyter-server-proxy==4.3.0
jupyter-server-terminals==0.5.3
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab-pygments==0.3.0
jupyterlab-widgets==3.0.11
kiwisolver==1.4.5
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
meshcat==0.3.2
minari==0.4.3
mistune==3.0.2
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
mujoco==2.3.7
multidict==6.0.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nodeenv==1.9.1
numpy==2.0.0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pettingzoo==1.24.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.0
platformdirs==4.2.2
pooch==1.8.2
portion==2.4.2
pre-commit==3.7.1
prometheus-client==0.20.0
prompt-toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.27.2
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.2
py-machineid==0.6.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
pygments==2.18.0
pyngrok==7.1.6
pyopengl==3.1.7
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-package-info==0.0.9
pytz==2024.1
pyvista==0.44.0
pyyaml==6.0.1
pyzmq==26.0.3
referencing==0.35.1
requests==2.32.3
requests-cache==1.2.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rich-argparse==1.5.2
rpds-py==0.19.0
rsa==4.9
scikit-image==0.24.0
scikit-video==1.1.11
scipy==1.14.0
scooby==0.10.0
send2trash==1.8.3
sentry-sdk==2.8.0
setproctitle==1.3.3
setuptools==70.2.0
shellingham==1.5.4
simpervisor==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
stack-data==0.6.3
stonefish-license-manager==0.4.36
sympy==1.13.0
terminado==0.18.1
tifffile==2024.7.2
tinycss2==1.3.0
tomli==2.0.1
torch==2.3.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
trame==3.6.3
trame-client==3.2.1
trame-server==3.0.3
trame-vtk==2.8.9
trame-vuetify==2.6.1
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
u-msgpack-python==2.8.0
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.2.2
virtualenv==20.26.3
vtk==9.3.1
wandb==0.17.4
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.43.0
widgetsnbextension==4.0.11